apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-argocd-html-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: 
    targetRevision: HEAD
    path: dev
  destination: 
    server: https://kubernetes.default.svc
    namespace: html-app

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
